@{
    ViewBag.Title = "Главная страница";
}
    <div class="main-page">
        <span class="welcome-text">Добро пожаловать на главную страницу MySolution</span>
        <img class="welcome-image" src="~/Content/Images/mainPage.jpg"/>
    </div>