<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-200 position-relative m-1"
    style="width: 390px; height: 180px;">
    <div class="col-7 p-3 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary">{{empl.FullName}}</strong>
        <h6 class="mb-0">{{empl.JobTitle}}</h6>
        <p class="mb-auto">{{empl.DepartamentTitle}}</p>
        <a [routerLink]="[empl.Id]" class="stretched-link">Личное дело</a>
    </div>
    <div class="col-2 d-none d-lg-block mt-2 pr-2">
        <img src="/assets/avatar.png" alt="" width="150px">

    </div>
</div>