<body class="text-center flex">
    <br />
    <div class="row">
        <div class="col-4"></div>
        <main class="form-signin col-4 border">
            <br />

            <form [formGroup]="loginGroup">
                <h4 class=" mb-3">Регистрация</h4>

                <div class="form-floating">
                    <div class="row m-4">
                        <label for="floatingInput" class="col-3  form-control-sm">Email</label>
                        <input type="email" class="form-control form-control-sm col-9" placeholder="name@example.com"
                            formControlName="Email">
                    </div>
                </div>
                <div class="form-floating">
                    <div class="row m-4">
                        <label for="floatingPassword" class="col-3 form-control-sm">Пароль</label>
                        <input type="password" class="form-control form-control-sm col-9" placeholder="Пароль"
                            formControlName="Password">

                        <small *ngIf="loginGroup.get('Password').errors?.minlength" class="text-danger">Пароль должен
                            содержать минимум
                            6 символов: 1 заглавную букву, 1 цифру, 1 знак препинания</small>

                    </div>
                </div>
                <div class="form-floating">
                    <div class="row m-4">
                        <label for="floatingPassword" class="col-4 form-control-sm">Повторите пароль</label>
                        <input type="password" class="form-control form-control-sm col-8" placeholder="Повторите пароль"
                            formControlName="ConfirmPassword">
                        <small *ngIf="loginGroup.errors?.misMatch" class="text-danger ml-3 mt-1">Пароли не
                            совпадают</small>
                    </div>
                </div>
                <button class="w-75 btn btn-sm btn-primary m-4" [disabled]="loginGroup.invalid"
                    (click)="this.register()">регистрация</button>
            </form>
        </main>
        <div class="col-4"></div>

    </div>
    <div id="wt-sky-root"></div>
</body>