<div class="container">

    <div class="row">
        <div class="col-md-7 col-lg-8" *ngIf="showCareerView">
            <div class="ml-4">
                <h4>Карьера</h4>
            </div>
            <div class="needs-validation" novalidate="">
                <div class="row ">
                    <div class="col-12 m-2">
                        <label for="address2" class="form-label">Департамент</label>
                        <label type="text" class="form-control form-control-sm" id="address2"
                            placeholder="Apartment or suite">{{departament.Title}}</label>
                    </div>

                    <div class="col-12 m-2">
                        <label for="address2" class="form-label">Позиция</label>
                        <label type="text" class="form-control form-control-sm" id="address2"
                            placeholder="Apartment or suite">{{job.Title}}</label>
                    </div>

                    <div class="col-12 m-2">
                        <label for="address2" class="form-label">Оклад</label>
                        <label type="text" class="form-control form-control-sm" id="address2"
                            placeholder="Apartment or suite">{{employee.Salary}}</label>
                    </div>
                </div>

                <hr class="my-4">

                <form [formGroup]="jobGroup">

                    <div class="m-4">
                        <h4>Карьерные изменения</h4>
                    </div>

                    <div class="row m-2">
                        <select formControlName="selectedDept" class="form-control form-control-sm col-10">
                            <option *ngFor="let dept of departaments" [ngValue]="dept.Id">{{dept.Title}}</option>
                        </select>
                    </div>

                    <div class="row m-2">
                        <select formControlName="selectedJob" class="form-control form-control-sm col-10">
                            <option *ngFor="let job of jobs" [ngValue]="job.Id">{{job.Title}}</option>
                        </select>
                    </div>
                    <div class="row m-2">
                        <div class="col-1 mr-2">
                            <label for="address2" class="form-label card-subtitle center">Оклад</label>
                        </div>
                        <div class="col-6">
                            <input type="number" class="form-control-sm" formControlName="Salary">
                        </div>
                        <small *ngIf="jobGroup.errors?.maxSalaryError" class="text-danger">Оклад должен быть в указанном
                            для должности диапазоне</small>
                    </div>
                </form>
                <br />

                <button class="w-100 btn btn-sm btn-primary btn-lg" (click)="changeJobInfo()">Сохранить
                    изменения</button>

                <hr class="my-4">

            </div>
        </div>

        <div class="col-md-5 col-lg-4 jumbotron h-auto" *ngIf="showCareerView">

            <div class="col-12">
                <label for="address2" class="form-label font-weight-bold">Эффективность работы:
                    {{employee.Efficiency}}%</label>
            </div>

            <form [formGroup]="efficiencyGroup">
                <div class="col-12">
                    <label for="address2" class="form-label">Изменить коэффициент производительности</label>
                    <input type="number" class="form-control form-control-sm" formControlName="Efficiency">
                </div>

            </form>
            <br />
            <button class="w-100 btn btn-primary btn-sm" (click)="changeEfficiency()">Сохранить
                изменения</button>
            <hr class="my-4">

            <label for="address2" class="form-label font-weight-bold">Годовая премия: {{yearBonus}}</label>

            <button class="btn btn-sm btn-primary" (click)="changeEfficiencyView()">Подробнее</button>
        </div>
    </div>
    <div class="col-md-10 col-lg-10" *ngIf="!showCareerView">
        <div class="container">
            <div class="row mb-1 w-100">
                <a class="nav-link col-2" (click)="changeEfficiencyView()">Назад</a>
                <span class="ml-1 col-8">История эффективности сотрудника</span>
            </div>
            <br />
            <div class="">
                <table class="table w-100">
                    <thead>
                        <tr>
                            <th scope="col">Год</th>
                            <th scope="col">Эффективность</th>
                            <th scope="col">Оклад</th>
                            <th scope="col">Годовая премия</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>01.01.2019-31.12.2019</td>
                            <td>100%</td>
                            <td>600</td>
                            <td>2160</td>
                        </tr>
                        <tr>
                            <td>01.01.2020-01.01.2021</td>
                            <td>120%</td>
                            <td>800</td>
                            <td>3456</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>