<header class="p-3 bg-dark text-white fixed-top">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="25">
                    <use xlink:href="#bootstrap"></use>
                </svg>
            </a>

            <nav class="navbar navbar-dark bg-dark navbar-brand center">
                Human Resourses Management
            </nav>

        </div>
    </div>
</header>