<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap" rel="stylesheet">
<header class="p-1 text-white fixed-top" style="background-color: #1976d2; font-family: 'Teko', sans-serif;">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-between">
            <div class="col-1"></div>
            <nav class="navbar navbar-dark navbar-brand center col-2" style="font-size: 26px;">
                HR Management
            </nav>
            <div class="col-1">
                <a routerLink="/login" class="text-white" style="font-size: small;">Войти</a>
            </div>
        </div>
    </div>
</header>