<div class="">
    <div class="search-bar">
        <div class="row">
            <div class="col-11">
                <input type="text" class="form-control form-control-sm" style="border-radius: 15px;" placeholder="Поиск"
                    (ngModel)="search" (change)="searching(search)">
            </div>
            <div class="my-button" routerLink="/employee">
                <link rel="stylesheet"
                    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
                <div class="float btn-primary">
                    <i class="fa fa-plus my-float"></i>
                </div>
            </div>
        </div>
    </div>
    <div class=" mce-scroll">
        <div class="my-flex ml-4">
            <app-employee-card [empl]="empl" *ngFor="let empl of employees"></app-employee-card>
        </div>
    </div>
</div>