<div class="">
    <div class="search-bar">
        <div class="row">
            <div class="col-10">
                <input type="text" class="form-control form-control-sm" style="border-radius: 15px;"
                    placeholder="Поиск">
            </div>
            <div class="col-2">
                <button class="btn btn-primary btn-sm" style="border-radius: 15px;" routerLink="/employee">
                    <span class="bold">+ </span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-users">
                        <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                        <circle cx="9" cy="7" r="4"></circle>
                        <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                        <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <div class=" mce-scroll">
        <div class="my-flex ml-4">
            <app-employee-card [empl]="empl" *ngFor="let empl of employees"></app-employee-card>
        </div>
    </div>
</div>