<div class="d-flex flex-column p-3 text-white bg-dark " style="width: 15%; height: 100vh; position: fixed; ">
    <ul class="nav nav-pills flex-column mb-auto pt-5">
        <li>
            <a routerLink="/home" routerLinkActive="active" class="nav-link   text-white">
                Главная
            </a>
        </li>
        <li>
            <a routerLink="/employees" routerLinkActive="active" class="nav-link  text-white">
                Сотрудники
            </a>
        </li>
        <li>
            <a routerLink="/departaments" routerLinkActive="active" class="nav-link text-white">
                Департаменты
            </a>
        </li>
        <li>
            <a routerLink="/analitycs" routerLinkActive="active" class="nav-link text-white">
                Аналитика
            </a>
        </li>
    </ul>
    <hr>
</div>