<div class="d-flex flex-column p-3 text-white bg-dark " style="width: auto; height: 100vh; position: fixed; ">
    <ul class="nav nav-pills flex-column mb-auto pt-5">
        <li>
            <a routerLink="/home" routerLinkActive="active" class="nav-link   text-white">
                Главная
            </a>
        </li>
        <li>
            <a routerLink="/employees" routerLinkActive="active" class="nav-link  text-white">
                Сотрудники
            </a>
        </li>
        <li>
            <a routerLink="/analytics" routerLinkActive="active" class="nav-link text-white">
                Аналитика
            </a>

        </li>

        <li *ngIf="showAdminTools">
            <a routerLink="/departaments" routerLinkActive="active" class="nav-link text-white">
                Департаменты
            </a>
        </li>

        <li *ngIf="showAdminTools">
            <a routerLink="/jobs" routerLinkActive="active" class="nav-link text-white">
                Должности
            </a>
        </li>
    </ul>
    <hr>
</div>