<body class="text-center flex">
    <br />
    <div class="row">
        <div class="col-4"></div>
        <main class="form-signin col-4 border">
            <br />

            <form [formGroup]="loginGroup">
                <h1 class="h3 mb-3 fw-normal">Вход</h1>

                <div class="form-floating">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
                        formControlName="email">
                    <label for="floatingInput">Email</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
                        formControlName="password">
                    <label for="floatingPassword">Пароль</label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" (click)="this.login()"
                    [disabled]="!this.loginGroup.valid">войти</button>
                <p class="mt-5 mb-3 text-muted">© 2017–2021</p>
            </form>
        </main>
        <div class="col-4"></div>

    </div>
    <div id="wt-sky-root"></div>
</body>