
@{
    ViewBag.Title = "Index";
}
<div class="my-flex-row">
    @Html.ActionLink("Управление должностями", "Index", "Positions")
    @Html.ActionLink("Управление пользователями", "Index", "Users")
    @Html.ActionLink("Управление департаментами", "Index", "Departaments")
</div>
